body {
    text-align: center;
}

form {
    width: 200px;
    border: 1px black;
    text-align: center;
    border: solid black;
    margin: 50px auto;
    padding: 25px;
    width: 500px;
}

form input {
    font-size: 25px;


}

input {
    border: none;
    border-bottom: 2px solid black;
    margin: 0.5em;
}
table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.ok td {
    border: none;
}

table {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#nav {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    background-color: rgba(0,0,0,.2);
}

.nav-link {
    color: white;
    display: block;
    font-size: 2em;
    text-decoration: none;
}